*{
    animation: 0.3s;
}

.container1{
    display: flex;
    justify-content: space-between;
}

.diamond{
    /* border: 1px solid red; */
    background-color: rgba(206, 238, 238, 0.717);
    margin: 20px;
    height: 80vh;
    width: 30vw;
    border-radius: 8px;
}
.gold{
    /* border: 1px solid red; */
    background-color: rgba(206, 238, 238, 0.717);
    margin: 20px;
    height: 80vh;
    width: 30vw;
    border-radius: 8px;
}
.silver{
    /* border: 1px solid red; */
    background-color: rgba(206, 238, 238, 0.717);
    margin: 20px;
    height: 80vh;
    width: 30vw;
    border-radius: 8px;
}

h1{
    margin:1rem 0;
    text-align: center;
    color: rgb(176, 111, 111);
}

ul li{
    text-align: center;
    margin-top: 1.3rem;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
} 

.pbtn{
    position: absolute;
    bottom: 3rem;
    left: 10rem;
}

.pbtn a{
    font-size: 20px;
    background-color: rgba(236, 30, 30, 0.76);
    color: white;
    /* border: 1px solid red; */
    display: inline-block;
    padding: 0.5rem;
    transition: 0.3s;
    border-radius: 10px;
}

.pbtn a:hover{
    background-color: rgb(40, 34, 34);
    color: white;
}